<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655542102686-s430o49ah86gb10o5s4s63q0b142t148.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655542102686-s430o49ah86gb10o5s4s63q0b142t148</string>
	<key>API_KEY</key>
	<string>AIzaSyCiuovuQbQ6huvtZpB3RWKyLqx5yaHaxzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>655542102686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.srocks.coineye</string>
	<key>PROJECT_ID</key>
	<string>coineye-8f825</string>
	<key>STORAGE_BUCKET</key>
	<string>coineye-8f825.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655542102686:ios:6704deec4a9ae45748698f</string>
</dict>
</plist>